{% load menu %}
<header class="header">

    {% if request.user.is_authenticated %}
        <div>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-main">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Вы авторизованы как "{{ user }}"</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-main">
                        <!--<ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{% url 'login' %}">Вход<span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="#">Пункт 2</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Поиск книг по жанрам<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Подпункт 1.1</a></li>
                                <li><a href="#">Подпункт 1.2</a></li>
                                <li><a href="#">Подпункт 1.3</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Подпункт 1.4</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Подпункт 1.5</a></li>
                            </ul>
                        </li>
                    </ul>-->
                        <!--<form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Поиск">
                            </div>
                            <button type="submit" class="btn btn-default">Найти</button>
                        </form>-->

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'newbook' %}">Добавить книгу</a></li>
                            <li><a href="{% url 'logout' %}">Выход</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    {% else %}
        <div>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-main">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'login' %}">Вы не авторизованы! Для добавления книги авторизуйтесь!</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-main">
                        <!--<ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{% url 'login' %}">Вход<span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="#">Пункт 2</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Поиск книг по жанрам<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Подпункт 1.1</a></li>
                                <li><a href="#">Подпункт 1.2</a></li>
                                <li><a href="#">Подпункт 1.3</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Подпункт 1.4</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Подпункт 1.5</a></li>
                            </ul>
                        </li>
                    </ul>-->
                        <!--<form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Поиск">
                            </div>
                            <button type="submit" class="btn btn-default">Найти</button>
                        </form>-->

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'login' %}">Вход</a></li>
                            <li><a href="{% url 'register' %}">Регистрация</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <h2><a href="{% url 'home' %}">Главная</a></h2>
                    <!--
                    {% if request.user.is_authenticated %}

                        <li><a href="#">Вы вошли как {{ user }}</a></li>
                        <li><a href="{% url 'logout' %}">Выход из аккаунта</a></li>

                    {% else %}

                        <li><a href="{% url 'login' %}">Вход</a></li>
                        <li><a href="{% url 'logout' %}">Выход {{ user }}</a></li>
                        <li><a href="{% url 'register' %}">Регистрация</a></li>

                    {% endif %}
                -->
                </div>


            </div>
            <div>

                {% show_menu %}

            </div>

        </div>

    </div>

</header>
