{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}{{ book.title }} :: {{ block.super }}{% endblock %}

{% block content %}

    <section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-text">
                        <h3>о сайте</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                            <div class="blog-area">
                                <div class="blog-area-part">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="border-top">
                                                    <h1>Этот сайт создан для того, чтобы прочитанные вами книги не пылились
                                                        на полке без дела, а еще долгое время приносили пользу людям,
                                                        отправившись туда, где они действительно необходимы</h1>

                                                    {% get_genres %}



                                                    <div class="col-md-8">
                                                        <div class="blog-area">



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}
