{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %}{{ book.title }} :: {{ block.super }}{% endblock %}

{% block content %}

    <section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-text">
                        <h3>добавить книгу</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                            <div class="blog-area">
                                <div class="blog-area-part">


                                        <h1>Добавление новой книги</h1>
                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            {{ form.as_p }}

                                            <button type="submit" class="btn btn-primary btn-block">Добавить книгу</button>
                                        </form>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="newsletter">
                                <h1 class="sidebar-title">Страница добавления книги </h1>
                                <p style="font-size: x-large">Заполните информацию о книге которую хотите добавить</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}

